@model State

<h1>Edit a State</h1>

<form method="post" action="/states/@Model.Id">
	<div class="form-group">
		<label for="Name">Name:</label>
		<input type="text" id="Name" name="Name" value="@Model.Name" />
	</div>
	<div class="form-group">
		<label for="Abbreviation">Abbreviation:</label>
		<input type="text" id="Abbreviation" name="Abbreviation" value="@Model.Abbreviation" />
	</div>
	<div class="form-group">
		<label for="TimeZone">Time Zone:</label>
		<input type="text" id="TimeZone" name="TimeZone" value="@Model.TimeZone" />
	</div>
	<button type="submit">Confirm Changes</button>
</form>