@model State

<h2>Add city to @Model.Name</h2>

<form method="post" action="/states/1/cities">
    <div class="form-group">
        <label for="Name">Name: </label>
        <input type="text" id="Name" name="Name" />
    </div>
    <button type="submit">Add City</button>
</form>
